[submodule "wget2.exe/Internals"]
	path = wget2.exe/Internals
	url = https://github.com/nuget-pkg/Internals
[submodule "wget2.exe.Demo/Internals"]
	path = wget2.exe.Demo/Internals
	url = https://github.com/nuget-pkg/Internals
